.row
  .col-md-9
    %h1 Conversations
    %hr
    %ul#conversations-list
      - @conversations.each do |conversation|
        = render 'conversations/conversation', conversation: conversation, user: current_user
  .col-md-3
    .card.border-primary.mb-3{:style => "max-width: 20rem;"}
      .card-header ALL USERS
      .card-body
        %table.table.table-hover.table-striped
          %tbody
            - @users.each do |user|
              %tr
                %td= link_to user.username, conversations_path(user_id: user), remote: true, method: :post
    
    
    