%h3 Mailbox
- @conversations.each do |conversation|
  - if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id
    - if conversation.sender_id == current_user.id
      - recipient = User.find(conversation.recipient_id)
    - else
      - recipient = User.find(conversation.sender_id)
    = link_to recipient.first_name,   conversation_messages_path(conversation)

%h3 All Users
- @users.each do |user|
  - if user.id != current_user.id
    = link_to "Message to #{user.username}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post
    %br